.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 30%;
    margin: 64px;
}

.links{
    color: #424242;
}

.links a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: inherit;
    padding: 0.5em;
    font-size: 4em;
}

/* Tooltips */

.tooltip-wrapper {
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    /* width: 230px; */
    /* webkit text rendering fix */
    /* transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased; */
  }
  
  .tooltip-wrapper .tooltip {
    font-family: 'Dosis', sans-serif;
    font-size: 0.4em;
    background: black;
    top: 100%;
    color: white;
    display: block;
    left: 0;
    margin-top: 16px;
    opacity: 0;
    padding: 0.4em;
    pointer-events: none;
    position: absolute;
    /* width: 100%; */
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
  .tooltip-wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  /* CSS Triangles - see Trevor's post */
  .tooltip-wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid black 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
  
  .tooltip-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  
  /* IE can just show/hide with no transition */
  .lte8 .tooltip-wrapper .tooltip {
    display: none;
  }
  .lte8 .tooltip-wrapper:hover .tooltip {
    display: block;
  }
  